.navbar{
    background-color: orange;
}

.navbar ul{
    font-size: 20px;
    gap: 20px;
    font-family: Merriweather;
}

.offcanvas-body,
.offcanvas-header{
    background-color: rgba(239, 174, 56, 0.62)
}

/*Content*/
.section1{
    display: flex;
    align-items: center;
    justify-content: start;
}

.section1 .text{
    position: absolute;
    padding-left: 8%;
}

.text h1{
    color: orange;
}

.section1 h1{
    font-family: Merriweather;
    font-weight: 600;
}

.section1 p{
    font-family: Playfair Display;
    font-weight: 700;
}


@media(min-width:768px){
    .section1 h1{
        font-size: 2.5rem;
    }
    .section1 p{
        font-size: 1.0rem;
    }
    .section1 button{
        font-size: 1.0rem;
    }
}

@media(min-width:992px){
    .section1 h1{
        font-size: 3.0rem;
    }
    .section1 p{
        font-size:  1.3rem;
    }
    .section1 button{
        font-size: 1.2rem;
    }
}

.section1 img{
    width: 100%;
    height: 100%;
    transform: scaleX(-1)
}


.section1 .btn{
    font-family: Alegreya;
    font-weight: 600;
    background-color: orange;
    border-radius: 10px; 
    border: none;
    padding: 7px 30px;
}

.container3{
    margin-top: 40px;
}

.section2 img{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.section2 h1{
    color: orange; 
    font-family: Merriweather;
}

.section2 p{
    font-family: Playfair Display;
    font-weight: 600;
}

@media(min-width:992px){
    .section2 p{
        font-size: 1.4rem;
    }
}


.container4{
    margin: 40px 10px;
}


.card-body{
    background-color: #F6D78E;
    border-radius: 0 0 10px 10px
}

.nutrition-explore{
    border-radius: 20px 20px 0 0;
}

.minerals img{
    object-fit: cover;
    width: 700px;
}

.card-text{
    text-align-last: center;
    font-size: 30px;
}


.card{
    margin:20px 0 30px 0;
    border-radius: 70px;
}

/*Footer*/
.footer{
    background-color: #E88634;
}

.information{
    margin: 20px 0 20px 40px;
}

.information h1{
    font-size: 25px
}


.Logo{
    margin: 60px 0 40px 0;
}

.form-control{
    width: 70%;
}

.send{
    padding-right: 30%;
}

@media(min-width:992px){
    .information h1{
        font-size: 25px;
    }
    .information{
        margin: 90px 0 0 100px;
    }
    .Logo{
       width: 100%; 
        margin: 60px 0 0 40px;
    }
    .form-control{
        width: 100%;
    }
    .message{
        padding-left: 37%;
    }
}

@media(min-width:762px){
    .form-control{
        width: 90%;
    }
    .send{
        padding-right: 10%;
    }
}

.footer h1,
.section3 h1{
    font-family: Merriweather;
    font-weight: 600;
}

.footer p,
.section3 p{
    font-family: Playfair Display;
    font-weight: 600;
}





